{% extends 'base.html.twig' %}

{% block title %}Diagnostico Lanus{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/960.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/superfish.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/prettyPhoto.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/fix.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/tipsy.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/skins/skyblue.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" type="text/css" media="all" />
    <!--[if lt IE 9]>
    <style type="text/css" media="screen">
        #backtotop > span,
        .shortcodeviewer,
        .social-icon a,
        #main .social-icon,
        #footer-wrapper .social-icon,
        .kwicks-info,
        .kwicks li:first-child,
        .kwicks li.last,
        .kwicks .kwicks-caption.kwicks1,
        .kwicks .kwicks-caption.kwicks5,
        .roundabout-moveable-item,
        .roundabout-moveable-item img,
        #liteaccordion,
        #liteaccordion.rounded,
        #liteaccordion.rounded ol li > h2.first,
        #liteaccordion.rounded ol li > h2.last,
        #liteaccordion.rounded ol li > h2.last.selected,
        .sliderNav #nav ul li a,
        #main,
        #main.main-transparent,
        .service-2 .icon,
        .service-3 .icon,
        .testimonial-widget-nav .prev,
        .testimonial-widget-nav .next,
        .sidebar #widget-contactForm li.buttons,
        #footer-wrapper #widget-contactForm li.buttons,
        .sidebar .widget_calendar tbody td a,
        #footer-wrapper div[id|="calendar"] tbody td a,
        .featured-thumbnail .zoom-icon.gallery-port .iconcontainer span,
        .faq_list dt,
        #contact-form .error-message.php-message,
        .contact-info,
        .testimonial,
        .testimonial .testi-pic a,
        .testimonial-bubble,
        .table,
        .dropcaps.circle,
        .dropcaps.hbar,
        .dropcaps.vbar,
        .dropcaps.square,
        .shortcode-button,
        .message-box,
        .message-box.small-icon,
        .message-box.no-icon,
        .shortcodeslider .nivo-controlNav a,
        .progress-bar.radius,
        .progress-bar.radius .progress-bar-meter,
        .progress-bar.radius .progress-bar-meter img,
        .personnel-shortcode .personnel-post,
        .personnel-shortcode .personnel-details strong,
        .tabs li a.active,
        .price-title-wrapper-left,
        .price-button-wrapper-left,
        .container_12 {
            position:relative;
            behavior:url(css/PIE.php);
        }
    </style>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <div style="clear:both; text-align:center; position:relative;">
        <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" />
        </a>
    </div>
    <![endif]-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Philosopher:n,i,b,bi" type="text/css">


{% endblock %}

{% block body %}
<div class="body-background">
	<div class="body-wrapper">
        {% include 'header.html.twig' %}
		<!-- end of #header -->
		<div id="main" class="main-transparent">
			<div id="sub-main">
				<div id="content">
                    {% block container %}
                    {% endblock container %}
				</div>
				<!-- end of #content -->
			</div>
		</div>
		<!-- end of #main -->
        {% include 'footer.html.twig' %}
		<!-- end of #footer-wrapper -->
		<div id="backtotop"><span><span class="triangle"></span></span></div>
	</div>
	<!-- end of .body-wrapper -->
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <script>
        var jQOld = $.noConflict(true);
    </script>
    <script type="text/javascript" src="{{ asset('js/superfish.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/supersubs.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.nivo.slider.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.masonry.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jcarousellite.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/selectnav.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.tipsy.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.search.js') }}"></script>
    <script type="text/javascript">
        jQOld(function(){
            jQOld('ul.sf-menu').supersubs({
                minWidth:18.4,   // minimum width of sub-menus in em units
                maxWidth:27,	// maximum width of sub-menus in em units
                extraWidth:1     // extra width can ensure lines don't sometimes turn over due to slight rounding differences and font-family
            }).superfish({	// main navigation init
                delay:200,		// one second delay on mouseout
                animation:{opacity:'show',height:"show"}, // fade-in and slide-down animation
                speed:'normal',  // faster animation speed
                autoArrows:false,   // generation of arrow mark-up (for submenu)
                dropShadows:false   // drop shadows (for submenu)
            });
        });
    </script>

    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
