<div id="menu-wrap">
    <div id="menu-wrapper" class="container_12">
        <ul id="main-nav" class="sf-menu">
            <li>
                <a href="#">Servicios Onine</a>
                <ul>
                    <li>
                        <a href="{{ path('workAccident_art') }}">Accidentes de Trabajo</a>
                    </li>
                    <li>
                        <a href="{{ path('satisfactionSurvey_art') }}">Encuesta de Satisfacción</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#">Informes</a>
                <ul>
                    <li>
                        <a href="{{ path('sinisterOnline') }}">Siniestros Online</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Cuenta Corriente</a>
                <ul>
                    <li>
                        <a href="{{ path('checkingAccount_art') }}">Saldos Pendientes</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#">Promociones</a>
                <ul>
                    <li>
                        <a href="{{ path('diagnosticoLanus_art') }}">Centro de Diagnóstico Lanús</a>
                    </li>
                    <li>
                        <a href="{{ path('examenPeriodico') }}">Exámen Periódico</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Ayuda</a>
                <ul>
                    <li>
                        <a href="{{ path('faq_art') }}">Preguntas Frecuentes</a>
                    </li>
                    <li>
                        <a href="{{ path('contactUs_art') }}">Consultas</a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>
    <!-- end of menu-wrapper -->
</div>
<!-- end of menu-wrap -->
