{% extends 'layout.html.twig' %}

{% set totalAccount = 0 %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <h1>Saldos Pendientes</h1>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>FECHA</th>
                        <th>COMPROBANTE</th>
                        <th>NUMERO</th>
                        <th>ADJUNTO</th>
                        <th class="text-right">IMPORTE</th>
                        <th class="text-right">SALDO</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in datas %}
                        <tr>
                            <td>{{ data.fecha|date('d/m/Y') }}</td>
                            <td>{{ data.tipocomp }}  {{ data.letra }}</td>
                            <td>{%  set inicio ='' %}
                                {%  if data.tipocomp|trim == 'FACTURA' and  data.letra =='A'%} {%  set inicio='1' %}{% endif %}
                                {% if data.tipocomp|trim == 'DEBITO' and data.letra =='A'%} {%  set inicio='2' %}{% endif %}
                                {% if data.tipocomp|trim == 'CREDITO' and data.letra =='A'%} {%  set inicio='3' %}{% endif %}
                                {%     if data.tipocomp|trim == 'FACTURA' and data.letra =='B'%} {% set inicio ='6' %}{% endif %}
                                {%     if data.tipocomp|trim == 'DEBITO' and data.letra =='B'%} {%  set inicio='7' %}{% endif %}
                                {%     if data.tipocomp|trim == 'CREDITO' and data.letra =='B'%} {%  set inicio='8' %}{% endif %}
                               {%   set file =  old_facturas ~ inicio|trim ~ data.numero|trim ~ '_' ~ data.codigoe|trim ~ '.pdf'  %}
                                
                               
                                {% if file_exists(root_path ~ file) %}
                                    <a data-file="{{ file }}" href="{{ asset(file) }}" data-toggle="tooltip" data-placement="top" title="Ver Factura">
                                {% else %}
                                    <a data-file="{{ file }}" href="{{ path('seeBillART', {'nr': data.numero}) }}" data-toggle="tooltip" data-placement="top" title="Ver Factura">
                                {% endif %}
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>{{ data.numero }}
                                </a>
                            </td>
                            <td>
                                {% set file = old_facturas ~ 'A' ~ data.numero|trim ~ '_' ~ data.codigoe|trim ~ '.pdf' %}
                                {% if file_exists(root_path ~ file) %}
                                    <a data-file="{{ file }}" href="{{ asset(file) }}" data-toggle="tooltip" data-placement="top" title="Ver Adjunto">
                                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>{{ data.numero }}
                                    </a>
                                {% else %}
                                    <p data-file="{{ file }}">No Disponible</p>
                                {% endif %}
                            </td>
                            <td class="text-right">${{ data.total|number_format(2, ',', '.') }}</td>
                            <td class="text-right">${{ data.saldo|number_format(2, ',', '.') }}</td>
                        </tr>
                        {% set totalAccount = totalAccount+data.saldo %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5" class="text-right"><strong>Total Saldo:</strong></td>
                        <td class="text-right"><strong>${{ totalAccount|number_format(2, ',', '.') }}</strong></td>
                    </tr>
                    </tfoot>
                </table>
                {% set bill = datas | first %}
                {% if bill %}
                    {% if (bill.sucursal in [1,2]) %}
                        {% include 'default/datosBancarios.html.twig' %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock container %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
