{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Empresa{% endblock %}

{% block container %}
    <div id="homepage-2">
        <div id="slider-wrapper">
            <div id="nivoslider-wrapper">
                <div id="nivoslider" class="nivoSlider">
                    <a href="{{ path('diagnosticoLanus') }}"><img src="{{ asset('images/slider/sliders-03.jpg') }}"  alt=""></a>
                    <a href="{{ path('libretaSanitaria') }}"><img src="{{ asset('images/slider/tm2-1680x402.jpg') }}"  alt=""></a>
                    <a href="{{ path('examenIngreso') }}"><img src="{{ asset('images/slider/tm3-1680x402.jpg') }}"  alt=""></a>
                    <a href="{{ path('seguridadHigiene') }}"><img src="{{ asset('images/slider/sliders-02.jpg') }}"  alt=""></a>
                    <a href="{{ path('servicioOdontologia') }}"><img src="{{ asset('images/slider/sliders-05.jpg') }}"  alt=""></a>
                    <a href="{{ path('nuevosClientes') }}"><img src="{{ asset('images/slider/sliders-06.jpg') }}"  alt=""></a>
                    <a href="{{ path('asesoramientoLegal') }}"><img src="{{ asset('images/slider/sliders-08.jpg') }}"  alt=""></a>
                    <a href="{{ path('cursos') }}"><img src="{{ asset('images/slider/sliders-07.jpg') }}"  alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container_12">
        <div class="clear mb40"></div>
        <div class="grid_4 datos">
            <div id="datosint">
                <div class="h-wrapper">
                    <h3 id="titulodatos">Datos de la empresa<span class="line"></span></h3>
                </div>
                <ul>
                    <li>Empresa: {{ app.user.nombrepal }}</li>
                    <li> Usuario: {{ app.user.usuario }}</li>
                    <li> Domicilio: {{ app.user.domicilio }}</li>
                    <li> Localidad: {{ app.user.localidad }}</li>
                    <li> Telefono: {{ app.user.telefono }}</li>
                    <li> Contacto: {{ app.user.contacto }}</li>
                    <li> Actividad: {{ app.user.actividad }}</li>
                    <li> Mail para envio de informes : {{ app.user.correo }}</li>
                    <li> Mail para reclamo de pagos: {{ app.user.correop }}</li>
                    <li> ART: {{ app.user.nombreart }}</li>
                </ul>
                <br>
                <p>Por favor chequear los datos de su empresa registrados en nuestra base de datos. Para solicitar una modificación enviar mail a Fernando a sistemas@palmedicinalaboral.com.ar</p>

            </div>
        </div>

        <div class="grid_4">
            <div class="clear mb10"></div>
            <div>
                <h3>Qué hacer en caso de un accidente laboral?</h3>
            </div><p>Centro Diagnostico Lanus es prestador en zona sur de su Aseguradora de Riesgo del Trabajo. Permanentemente trabajamos en conjunto para lograr mejoras en todos los procesos de atención de pacientes por accidentes de trabajo.
                Es por eso que para optimizar el manejo de un siniestro les recomendamos que al momento de realizar la denuncia del accidente, soliciten que el paciente sea derivado directamente a Centro Diagnostico Lanus, ubicado en la calla Basavilbaso 1859, Lanús Este.</p>
            <h4>Ventajas</h4>
            <div class="list arrow">
                <ul>
                    <li>Atención inmediata del accidentado</li>
                    <li>Informe médico en el acto vía mail, pagina web y/o telefónicamente.</li>
                    <li>Seguimiento exhaustivo del accidentado hasta su respectiva alta laboral.</li>
                </ul>
            </div>
        </div>

        <div class="grid_4">
            <a href="{{ path('nuevosClientes') }}"><img class="roundcor" src="{{ asset('images/nuevos_clientes-01.jpg') }}"></a>
            <div class="clear mb10"></div>
            <a href="{{ path('satisfactionSurvey') }}"><img class="roundcor" src="{{ asset('images/bannerencuesta-01.png') }}" height="176" width="360"></a>
        </div>
        <div class="clear mb20"></div>
    </div>
{% endblock container %}

{% block javascripts %}
    {{ parent() }}
    <!-- Script to Activate the Carousel -->

    <script type="text/javascript">
        jQOld(document).ready(function() {
            // nivoslider init
            jQOld('#nivoslider').nivoSlider({
                effect:'random',
                slices:15,
                boxCols:8,
                boxRows:4,
                animSpeed:500,
                pauseTime:5000,
                directionNav:true,
                directionNavHide:true,
                controlNav:true,
                controlNavThumbs:false,
                pauseOnHover:true,
                randomStart:false,
                manualAdvance:false
            });
        });
    </script>
{% endblock %}