{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <a class="btn btn-default" href="{{ path('login_consultas') }}">Clientes</a>
            <a class="btn btn-default" href="{{ path('login_art') }}">ART</a>
        </div>
    </div>
    <br/>
{% endblock container %}
