{% extends 'printLayout.html.twig' %}

{% block body %}
    {% include 'default/bill.html.twig' %}
    {% if (bill.sucursal in [1,2]) %}
        {% include 'default/datosBancarios.html.twig' %}
    {% endif %}
{% endblock body %}