{% extends 'layout1.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="{{ asset('bower_components/datatables/media/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
   

{% endblock %}
{% block javascripts %}
{% endblock %}
{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            {% if patients.0 is defined %}
                <h2>Siniestros OnLine de {{ patients.0.nombre }}</h2>
                 <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li>CUIL: <strong>{{ patients.0.cuil}}</strong></li>
                            <li>Direcci&oacute;n: <strong>{{ patients.0.direccion }}</strong></li>
                            <li>Localidad : <strong>{{ patients.0.localidad }}</strong></li>
                            <li>Tel&eacute;fono : <strong>{{ patients.0.telefono }}</strong></li>
                           <li>Historia Cl&iacute;nica : <strong>{{ patients.0.codigop }}</strong></li>
                        </ul>
                        </div>
                        </div>
            {% endif %}
            <table id="datos" class="display" cellspacing="0" width="100%">
            <thead>
            <th class="col-md-1">Fecha de atenci&oacute;n</th>
            <th class="col-md-1">Tipo de atenci&oacute;n</th>
            <th class="col-md-1">Referencia</th>
            <th class="col-md-3">Empresa</th>
            
            <th class="col-md-6">Historia Cl&iacute;nica:</th>
            </thead>
            <tbody> {% for new in patients %}
            <tr>
            <td class="col-md-1"> {{ new.fecha | date('d/m/Y') }}</td>
             <td class="small col-md-1">{{ new.tiponov }}</td>
             
               <td class="small col-md-1">{{ new.enlace }}</td>
                <td class="small col-md-3">{{ new.razon }}</td>
                 
                  <td class="col-md-6"><b>{{ new.profesional }}:</b><br/>
                   <p class="small">{{ new.ren1|trim }}
                            {% if new.ren2|trim != '' %}{{ new.ren2|trim}}{% endif %}
                            {% if new.ren3|trim != '' %}{{ new.ren3|trim}}{% endif %}
                            {% if new.ren4|trim != '' %}{{ new.ren4|trim}}{% endif %}
                            {% if new.ren5|trim != '' %}{{ new.ren5|trim}}{% endif %}
                            {% if new.ren6|trim != '' %}{{ new.ren6|trim }}{% endif %}
                            {% if new.ren7|trim != '' %}{{ new.ren7|trim }}{% endif %}
                            {% if new.ren8|trim != '' %}{{ new.ren8|trim }}{% endif %}
                            {% if new.ren9|trim != '' %}{{ new.ren9|trim }}{% endif %}
                            {% if new.ren10|trim != '' %}{{ new.ren10|trim}}{% endif %}
                            {% if new.ren11|trim != '' %}{{ new.ren11|trim}}{% endif %}
                            {% if new.ren12|trim != '' %}{{ new.ren12|trim }}{% endif %}
                            {% if new.ren13|trim != '' %}{{ new.ren13|trim }}{% endif %}
                            {% if new.ren14|trim != '' %}{{ new.ren14|trim}}{% endif %}
                            {% if new.ren15|trim != '' %}{{ new.ren15|trim}}{% endif %}
                            {% if new.ren16|trim != '' %}{{ new.ren16|trim}}{% endif %}
                            {% if new.ren17|trim != '' %}{{ new.ren17|trim}}{% endif %}
                            {% if new.ren18|trim != '' %}{{ new.ren18|trim}}{% endif %}
                            {% if new.ren19|trim != '' %}{{ new.ren19|trim}}{% endif %}
                            {% if new.ren20|trim != '' %}{{ new.ren20|trim}}{% endif %}
                            {% if new.ren21|trim != '' %}{{ new.ren21|trim}}{% endif %}
                            {% if new.ren22|trim != '' %}{{ new.ren22|trim}}{% endif %}
                            {% if new.ren23|trim != '' %}{{ new.ren23|trim}}{% endif %}
                            {% if new.ren24|trim != '' %}{{ new.ren24|trim}}{% endif %}
                            {% if new.ren25|trim != '' %}{{ new.ren25|trim}}{% endif %}
                            {% if new.ren26|trim != '' %}{{ new.ren26|trim}}{% endif %}
                            {% if new.ren27|trim != '' %}{{ new.ren27|trim}}{% endif %}
                            {% if new.ren28|trim != '' %}{{ new.ren28|trim}}{% endif %}
                            {% if new.ren29|trim != '' %}{{ new.ren29|trim}}{% endif %}
                            {% if new.ren30|trim != '' %}{{ new.ren30|trim}}{% endif %}</p>
                        {% set file = old_images ~ "NRLL/P" ~ new.fecha | date('d-m-y') ~ "_" ~ new.codigop ~ ".JPG" %}
                        {% if file_exists(root_path ~ file) %}
                            <img src="{{ (file) | imagine_filter('news_thumb') }}" class="img-thumbnail"/>
                        {% endif %}
                            </td>
                         </tr>   
                             {% endfor %}
            </tbody>
            </table>
         

           
        </div>
    </div>
    
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jqc-1.12.4/jszip-2.5.0/dt-1.10.13/af-2.1.3/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/fc-3.2.2/r-2.1.1/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jqc-1.12.4/jszip-2.5.0/dt-1.10.13/af-2.1.3/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/fc-3.2.2/r-2.1.1/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.js"></script>
<script>
    $(document).ready(function(){
        $('#datos').DataTable({ dom: 'Bfrtip',
        buttons: [
            {
                extend: 'copyHtml5',
                exportOptions: {
                 columns: ':contains("Office")'
                }
            },
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]});
    });

    </script>

{% endblock container %}
 