{% extends 'layout1.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <h2>Siniestros Online</h2>
            <form method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label" for="patient"></label>
                    <select id="patient" name="patient" class="form-control">
                        <option disabled selected>Selecciona un Paciente...</option>
                        {% for patient in patients  %}
                            <option value="{{patient.cuil}}">{{patient.cuil}} {{patient.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Obtener</button>
                </div>
            </form>
        </div>
    </div>
       <script type="text/javascript" src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>

$('select').select2();
</script>
{% endblock container %}