{% extends 'default/newsList.html.twig' %}

{% block title %}{{ parent() }} - Novedades de hoy{% endblock %}

{% block print %}
    <div class="text-center">
        <a href="{{ path('todayNewsPrint') }}" target="_blank" class="btn btn-default">Imprimir</a>
    </div>
{% endblock print %}