{% extends 'layout.html.twig' %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <div class="h-wrapper">
                <h1>Centro de Diagnóstico Lanus<span class="line"></span></h1>
            </div>
        </div>
        <div class="container_12">
            <div class="clear mb30"></div>
            <div class="grid_7">
                <h4>Pal medicina laboral esta construyendo el primer Centro de Diagnóstico y tratamiento en Lanús Este, ubicado en la calle Basabilvaso 1859 y contará con:</h4>
                <div >
                    <ul>
                        <li>Laboratorio propios de análisis clínicos de alta complejidad</li>
                        <li>Estúdios por imágenes Resonancia Magnética, Tomografía, Ecografía y Mamografía</li>
                        <li>Cardiología con exámenes de Holter, Ecocardiograma y Electrocardiograma y Ergometría</li>
                        <li>Estúdios Fonoudiológicos
                        <li>Neurología: Electroencefalograma y Electromiografía</li>
                        <li>Oftalmología clínica y quirúrgica</li>
                        <li>Traumatología clínica y quirúrgica, astroscopía y tratamiento del dolor</li>
                        <li>Rehabilitación con aparatología de punta</li>
                        <li>Endoscopía y estúdios funcionales digestivos</li>
                        <li>Neumología: Espirometría</li>
                        <li>Dermatología</li>
                        <li>Dos Quirófanos</li>
                        <li>Internación</li>
                        <li>Quince consultorios externos</li>
                        <li>Centro de Cosmetología y Estética</li>
                        <li>Centro de Recuperación Capilar</li>
                        <li>Bar buffet</li>
                    </ul>
                    <br>
                    <p>Para mayor información envía mail a <a href="mailto:informacion@diagnosticolanus.com.ar">informacion@diagnosticolanus.com.ar</a><br>
                    </p>
                </div>
            </div>
            <div class="grid_1"><BR>
            </div>
            <div class="grid_4">
                <img src="{{ asset('images/promociones/promociones-01.jpg') }}" alt="">
            </div>
        </div>
        <div class="clear mb80"></div>
    </div>
{% endblock container %}