{% extends 'layout.html.twig' %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <div class="h-wrapper">
                <h1>Examen Periodico<span class="line"></span></h1>
            </div>
        </div>
        <div class="container_12">
            <div class="clear mb30"></div>
            <div class="grid_7">
            <p>
            Su función principal es detectar en forma temprana cualquier afección que pueda estar relacionada con el tipo de tareas o actividades laborales que desempeña un empleado. Este examen es de carácter preventivo y está regulado por normas que indican el contenido y periodicidad de su realización, aunque es recomendable hacer al menos un examen básico anualmente.
            
            </p>
            
                <p>Para mayor información envíe un mail a <a href="mailto:marketing@diagnosticolanus.com.ar">marketing@diagnosticolanus.com.ar</a> o comuníquese con Damian Babor al 4247-7093 interno 8.</p>
            </div>
        </div>
    </div>
{% endblock container %}