{% extends 'layout.html.twig' %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <div class="h-wrapper">
                <h1>INFORMACION EN VIVO LAS 24 HS DEL DIA<span class="line"></span></h1>
            </div>
        </div>
        <div class="container_12">
            <div class="clear mb30"></div>
            <div class="grid_7">
            <p>
           En nuestra nueva y moderna pagina web podr&aacute;n observar los informes m&eacute;dicos de todos sus empleados con la informaci&oacute;n actualizada en tiempo real las 24hs, autorizar la atenci&oacute;n del accidentado, 
           visualizar su cuenta corriente y m&aacute;s opciones.
    </p> <p>
                Cualquier consulta y/o sugerencia envie mail a <a href="mailto:sistemas@diagnosticolanus.com.ar">sistemas@diagnosticolanus.com.ar</a> o comun&iacute;quese al 4225-4027 int. 168
               </p> </div>
        </div>
    </div>
{% endblock container %}