{% extends 'layout.html.twig' %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <div class="h-wrapper">
                <h1> DOBLE SESION KINESIOLOGICA<span class="line"></span></h1>
            </div>
        </div>
        <div class="container_12">
            <div class="clear mb30"></div>
            <div class="grid_7">
                <h3>Queremos informarle las ventajas de esta modalidad trabajo que implementamos con todas las Aseguradora de Riesgo del Trabajo:</h3>
                <div >
                    <ul>
                        <li>Acelera administrativamente el proceso de atención</li>
                        <li>Reduce significativamente al 50% los días de ILT</li>
                        <li>Reduce al 50% los costos en traslados</li>
                        <li>Disminuye la ausencia injustificada al tratamiento</li>
                        <li>Se entrega al paciente un refrigerio por día para ser consumido en nuestro amplio y confortable Bar/Buffet.
En caso de estar interesado en implementarlo, por favor responda el mail que a la brevedad nos pondremos en contacto</li>
                        </ul>
                    <br>
                </div>
            </div>
            <div class="grid_1"><BR>
            </div>
            <div class="grid_4">
                <img src="{{ asset('images/promociones/BAR.JPG') }}" alt="">
            </div>
        </div>
    </div>
{% endblock container %}