{% extends 'layout.html.twig' %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <div class="h-wrapper">
                <h1>Servicio de Odontología<span class="line"></span></h1>
            </div>
        </div>
        <div class="container_12">
            <div class="clear mb30"></div>
            <div class="grid_7">
                <h4>Queremos recordarle que PAL Medicina Laboral SRL dispone de un excelente servicio odontológico para ústed, sus empleados y familiares. <br>Los aranceles son económicos y muy accesibles, a continuación se describen..</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Servicios</th>
                        <th>Empresa</th>
                        <th>Familiares</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Extracción</td>
                        <td>50$</td>
                        <td>55$</td>
                    </tr>
                    <tr>
                        <td>Restauración con amalgama</td>
                        <td>50$</td>
                        <td>55$</td>
                    </tr>
                    <tr>
                        <td>Restauración con luz halogena</td>
                        <td>65$</td>
                        <td>70$</td>
                    </tr>
                    <tr>
                        <td>Limpieza y topicación con fluor</td>
                        <td>55$</td>
                        <td>60$</td>
                    </tr>
                    <tr>
                        <td>Tratamiento de conducto</td>
                        <td>150$</td>
                        <td>155$</td>
                    </tr>
                    </tbody>
                </table>
                <div >
                    <p><strong>Consultas y urgencias sin cargo<br>Los turnos se pueden solicitar dentro o fuera del horario laboral, hasta los sábados inclusive</strong></p>
                    <p>Para mayor información envíe un mail a <a href="mailto:marketing@palmedicinalaboral.com.ar">marketing@palmedicinalaboral.com.ar </a>o comuníquese con Odontología al 4247-7093 interno 123</p>
                </div>
            </div>
            <div class="grid_1"><BR>
            </div>
            <div class="grid_4">
                <img src="{{ asset('images/promociones/promociones-07.jpg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock container %}