<div>
    <table border="1" cellspacing="0" cellpadding="0" width="626" style="width:469.5pt">
        <tbody>
        <tr>
            <td width="166" style="width:124.5pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atención en Consultorio</span></b><span><u></u><u></u></span></p>
            </td>
            <td width="450" style="width:337.5pt;padding:.75pt .75pt .75pt .75pt">
                <p align="center" style="text-align:center"><b>O R I G I N A L</b><u></u><u></u></p>
            </td>
        </tr>
        <tr>
            <td width="166" style="width:124.5pt;background:#e1e0db;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">DATOS DE LA EMPRESA</span></b><span><u></u><u></u></span></p>
            </td>
            <td width="450" style="width:337.5pt;background:#e1e0db;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
        </tr>
        <tr>
            <td width="166" style="width:124.5pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Razon Social:</span></b><span><u></u><u></u></span></p>
            </td>
            <td width="450" style="width:337.5pt;padding:.75pt .75pt .75pt .75pt">
                <table border="0" cellpadding="0" width="447" style="width:335.25pt">
                    <tbody>
                    <tr>
                        <td width="293" style="width:219.75pt;padding:.75pt .75pt .75pt .75pt">
                            <p><span style="font-size:9.0pt">{{ data.razonSocial }}</span><u></u><u></u></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="166" style="width:124.5pt;padding:.75pt .75pt .75pt .75pt">
                <p><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Apellido y Nombre:</span></b><span style="font-size:9.0pt"> </span><u></u><u></u></p>
            </td>
            <td width="450" style="width:337.5pt;padding:.75pt .75pt .75pt .75pt">
                <table border="0" cellpadding="0" width="450" style="width:337.5pt">
                    <tbody>
                    <tr>
                        <td width="285" style="width:213.75pt;padding:.75pt .75pt .75pt .75pt">
                            <p><span style="font-size:9.0pt">{{ data.apellidoNombre }}</span><u></u><u></u></p>
                        </td>
                        <td width="143" style="width:107.25pt;padding:.75pt .75pt .75pt .75pt">
                            <p><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Fecha:</span></b><span style="font-size:9.0pt">{{ data.fecha|date('d-m-Y') }}</span><u></u><u></u></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="166" style="width:124.5pt;background:#e1e0db;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">DATOS DEL EMPLEADO</span></b><span><u></u><u></u></span></p>
            </td>
            <td width="450" style="width:337.5pt;background:#e1e0db;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
        </tr>
        <tr>
            <td width="166" style="width:124.5pt;background:white;padding:.75pt .75pt .75pt .75pt">
                <p><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Empleado:</span></b><u></u><u></u></p>
            </td>
            <td width="450" style="width:337.5pt;background:white;padding:.75pt .75pt .75pt .75pt">
                <table border="0" cellpadding="0" width="450" style="width:337.5pt">
                    <tbody>
                    <tr>
                        <td width="418" style="width:313.5pt;padding:.75pt .75pt .75pt .75pt">
                            <p><span style="font-size:9.0pt">{{ data.apellidoNombreSolicitante }}</span><u></u><u></u></p>
                        </td>
                        <td width="22" style="width:16.5pt;padding:.75pt .75pt .75pt .75pt">
                            <p>&nbsp;<u></u><u></u></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="166" style="width:124.5pt;background:white;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Observaciones</span></b><span><u></u><u></u></span></p>
            </td>
            <td width="450" style="width:337.5pt;background:white;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:9.0pt">{{ data.observaciones }}</span><span><u></u><u></u></span></p>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <table border="1" cellspacing="0" cellpadding="0" width="626" style="width:469.5pt">
        <tbody>
        <tr>
            <td width="450" style="width:337.5pt;background:white;padding:.75pt .75pt .75pt .75pt">
                <table border="1" cellspacing="0" cellpadding="0" width="622" style="width:466.5pt">
                    <tbody>
                    <tr style="height:16.5pt">
                        <td width="155" style="width:116.25pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Consulta Clínica:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="37" style="width:27.75pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">{{ data.consultaClinica ? 'Si':'No' }}</td>
                        <td width="85" style="width:63.75pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Traumatología:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="40" style="width:30.0pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">{{ data.traumatologia ? 'Si':'No' }}</td>
                        <td width="82" style="width:61.5pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cardiología:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="48" style="width:36.0pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">{{ data.cardiologia ? 'Si':'No' }}</td>
                        <td width="77" style="width:57.75pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Oftalmología:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="64" style="width:48.0pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">{{ data.oftalmologia ? 'Si':'No' }}</td>
                    </tr>
                    <tr style="height:15.75pt">
                        <td width="155" style="width:116.25pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Control Ausentismo:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="37" style="width:27.75pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">{{ data.controlAusentismo ? 'Si':'No' }}</td>
                        <td width="85" style="width:63.75pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Dermatología:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="40" style="width:30.0pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">{{ data.dermatologia ? 'Si':'No' }}</td>
                        <td width="82" style="width:61.5pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Neurología:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="48" style="width:36.0pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">{{ data.neurologia ? 'Si':'No' }}</td>
                        <td width="77" style="width:57.75pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Ginecología:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="64" style="width:48.0pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">{{ data.ginecologia ? 'Si':'No' }}</td>
                    </tr>
                    </tbody>
                </table>
                <p class="MsoNormal"><span><u></u>&nbsp;<u></u></span></p>
                <table border="0" cellpadding="0" width="490" style="width:367.5pt">
                    <tbody>
                    <tr>
                        <td width="67" style="width:50.25pt;padding:.75pt .75pt .75pt .75pt">
                            <p><b><span style="font-size:9.0pt">Otros: </span></b><u></u><u></u></p>
                        </td>
                        <td width="413" style="width:309.75pt;padding:.75pt .75pt .75pt .75pt">{{ data.otros }}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <table border="0" cellpadding="0" width="626" style="width:469.5pt">
        <tbody>
        <tr>
            <td width="184" style="width:138.0pt;background:#e1e0db;padding:.75pt .75pt .75pt .75pt">
                <p><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">DATOS A COMPLETAR POR EL MEDICO</span></b><u></u><u></u></p>
            </td>
            <td width="432" style="width:324.0pt;padding:.75pt .75pt .75pt .75pt">
                <table border="0" cellpadding="0" width="425" style="width:318.75pt">
                    <tbody>
                    <tr>
                        <td width="97" style="width:72.75pt;padding:.75pt .75pt .75pt .75pt">
                            <p><b><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Fecha: </span></b><u></u><u></u></p>
                        </td>
                        <td width="167" style="width:125.25pt;padding:.75pt .75pt .75pt .75pt">
                            <p><b><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Debe trabajar día:</span></b><u></u><u></u></p>
                        </td>
                        <td width="147" style="width:110.25pt;padding:.75pt .75pt .75pt .75pt">
                            <p><b><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Vuelve:</span></b><u></u><u></u></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="184" style="width:138.0pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:8.0pt">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
            <td width="432" style="width:324.0pt;padding:.75pt .75pt .75pt .75pt"></td>
        </tr>
        <tr>
            <td width="184" style="width:138.0pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><b><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span></b><span><u></u><u></u></span></p>
            </td>
            <td width="432" style="width:324.0pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
        </tr>
        <tr>
            <td width="184" style="width:138.0pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:8.0pt">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
            <td width="432" style="width:324.0pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:8.0pt">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
        </tr>
        <tr>
            <td width="184" style="width:138.0pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:8.0pt">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
            <td width="432" style="width:324.0pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:8.0pt">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
        </tr>
        <tr>
            <td width="184" style="width:138.0pt;padding:.75pt .75pt .75pt .75pt">
                <p><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Firma del Medico </span></b><u></u><u></u></p>
            </td>
            <td width="432" style="width:324.0pt;padding:.75pt .75pt .75pt .75pt">
                <p><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Firma del Paciente &nbsp;&nbsp;</span><u></u><u></u></p>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <table border="1" cellpadding="0" width="626" style="width:469.5pt;border:none;border-bottom:solid black 1.0pt">
        <tbody>
        <tr style="height:7.5pt">
            <td width="1373" style="width:1029.75pt;border:none;padding:.75pt .75pt .75pt .75pt;height:7.5pt">
                <p class="MsoNormal"><span style="font-size:8.0pt">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
        </tr>
        <tr style="height:8.25pt">
            <td width="1373" style="width:1029.75pt;border:none;border-top:dotted black 1.0pt;padding:.75pt .75pt .75pt .75pt;height:8.25pt">
                <p class="MsoNormal" style="line-height:8.25pt"><span style="font-size:8.0pt">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <table border="1" cellspacing="0" cellpadding="0" width="626" style="width:469.5pt">
        <tbody>
        <tr>
            <td width="166" style="width:124.5pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atención en Consultorio</span></b><span><u></u><u></u></span></p>
            </td>
            <td width="450" style="width:337.5pt;padding:.75pt .75pt .75pt .75pt">
                <p align="center" style="text-align:center"><b>D U P L I C A D O</b><u></u><u></u></p>
            </td>
        </tr>
        <tr>
            <td width="166" style="width:124.5pt;background:#e1e0db;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">DATOS DE LA EMPRESA</span></b><span><u></u><u></u></span></p>
            </td>
            <td width="450" style="width:337.5pt;background:#e1e0db;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
        </tr>
        <tr>
            <td width="166" style="width:124.5pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Razon Social:</span></b><span><u></u><u></u></span></p>
            </td>
            <td width="450" style="width:337.5pt;padding:.75pt .75pt .75pt .75pt">
                <table border="0" cellpadding="0" width="447" style="width:335.25pt">
                    <tbody>
                    <tr>
                        <td width="293" style="width:219.75pt;padding:.75pt .75pt .75pt .75pt">
                            <p><span style="font-size:9.0pt">{{ data.razonSocial }}</span><u></u><u></u></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="166" style="width:124.5pt;padding:.75pt .75pt .75pt .75pt">
                <p><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Apellido y Nombre:</span></b><span style="font-size:9.0pt"> </span><u></u><u></u></p>
            </td>
            <td width="450" style="width:337.5pt;padding:.75pt .75pt .75pt .75pt">
                <table border="0" cellpadding="0" width="450" style="width:337.5pt">
                    <tbody>
                    <tr>
                        <td width="285" style="width:213.75pt;padding:.75pt .75pt .75pt .75pt">
                            <p><span style="font-size:9.0pt">{{ data.apellidoNombre }}</span><u></u><u></u></p>
                        </td>
                        <td width="143" style="width:107.25pt;padding:.75pt .75pt .75pt .75pt">
                            <p><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Fecha:</span></b><span style="font-size:9.0pt">{{ data.fecha|date('d-m-Y') }}</span><u></u><u></u></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="166" style="width:124.5pt;background:#e1e0db;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">DATOS DEL EMPLEADO</span></b><span><u></u><u></u></span></p>
            </td>
            <td width="450" style="width:337.5pt;background:#e1e0db;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
        </tr>
        <tr>
            <td width="166" style="width:124.5pt;background:white;padding:.75pt .75pt .75pt .75pt">
                <p><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Empleado:</span></b><u></u><u></u></p>
            </td>
            <td width="450" style="width:337.5pt;background:white;padding:.75pt .75pt .75pt .75pt">
                <table border="0" cellpadding="0" width="450" style="width:337.5pt">
                    <tbody>
                    <tr>
                        <td width="418" style="width:313.5pt;padding:.75pt .75pt .75pt .75pt">
                            <p><span style="font-size:9.0pt">{{ data.apellidoNombreSolicitante }}</span><u></u><u></u></p>
                        </td>
                        <td width="22" style="width:16.5pt;padding:.75pt .75pt .75pt .75pt">
                            <p>&nbsp;<u></u><u></u></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="166" style="width:124.5pt;background:white;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Observaciones</span></b><span><u></u><u></u></span></p>
            </td>
            <td width="450" style="width:337.5pt;background:white;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:9.0pt">{{ data.observaciones }}</span><span><u></u><u></u></span></p>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <table border="1" cellspacing="0" cellpadding="0" width="626" style="width:469.5pt">
        <tbody>
        <tr>
            <td width="450" style="width:337.5pt;background:white;padding:.75pt .75pt .75pt .75pt">
                <table border="1" cellspacing="0" cellpadding="0" width="622" style="width:466.5pt">
                    <tbody>
                    <tr style="height:16.5pt">
                        <td width="155" style="width:116.25pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Consulta Clínica:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="37" style="width:27.75pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">{{ data.consultaClinica ? 'Si':'No' }}</td>
                        <td width="85" style="width:63.75pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Traumatología:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="40" style="width:30.0pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">{{ data.traumatologia ? 'Si':'No' }}</td>
                        <td width="82" style="width:61.5pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cardiología:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="48" style="width:36.0pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">{{ data.cardiologia ? 'Si':'No' }}</td>
                        <td width="77" style="width:57.75pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Oftalmología:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="64" style="width:48.0pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:16.5pt">{{ data.oftalmologia ? 'Si':'No' }}</td>
                    </tr>
                    <tr style="height:15.75pt">
                        <td width="155" style="width:116.25pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Control Ausentismo:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="37" style="width:27.75pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">{{ data.controlAusentismo ? 'Si':'No' }}</td>
                        <td width="85" style="width:63.75pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Dermatología:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="40" style="width:30.0pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">{{ data.dermatologia ? 'Si':'No' }}</td>
                        <td width="82" style="width:61.5pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Neurología:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="48" style="width:36.0pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">{{ data.neurologia ? 'Si':'No' }}</td>
                        <td width="77" style="width:57.75pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">
                            <p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Ginecología:</span></b><span><u></u><u></u></span></p>
                        </td>
                        <td width="64" style="width:48.0pt;border:inset #c3e2e0 1.0pt;padding:.75pt .75pt .75pt .75pt;height:15.75pt">{{ data.ginecologia ? 'Si':'No' }}</td>
                    </tr>
                    </tbody>
                </table>
                <p class="MsoNormal"><span><u></u>&nbsp;<u></u></span></p>
                <table border="0" cellpadding="0" width="490" style="width:367.5pt">
                    <tbody>
                    <tr>
                        <td width="67" style="width:50.25pt;padding:.75pt .75pt .75pt .75pt">
                            <p><b><span style="font-size:9.0pt">Otros: </span></b><u></u><u></u></p>
                        </td>
                        <td width="413" style="width:309.75pt;padding:.75pt .75pt .75pt .75pt">{{ data.otros }}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <table border="0" cellpadding="0" width="626" style="width:469.5pt">
        <tbody>
        <tr>
            <td width="184" style="width:138.0pt;background:#e1e0db;padding:.75pt .75pt .75pt .75pt">
                <p><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">DATOS A COMPLETAR POR EL MEDICO</span></b><u></u><u></u></p>
            </td>
            <td width="432" style="width:324.0pt;padding:.75pt .75pt .75pt .75pt">
                <table border="0" cellpadding="0" width="425" style="width:318.75pt">
                    <tbody>
                    <tr>
                        <td width="97" style="width:72.75pt;padding:.75pt .75pt .75pt .75pt">
                            <p><b><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Fecha: </span></b><u></u><u></u></p>
                        </td>
                        <td width="167" style="width:125.25pt;padding:.75pt .75pt .75pt .75pt">
                            <p><b><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Debe trabajar día:</span></b><u></u><u></u></p>
                        </td>
                        <td width="147" style="width:110.25pt;padding:.75pt .75pt .75pt .75pt">
                            <p><b><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Vuelve:</span></b><u></u><u></u></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="184" style="width:138.0pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:8.0pt">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
            <td width="432" style="width:324.0pt;padding:.75pt .75pt .75pt .75pt"></td>
        </tr>
        <tr>
            <td width="184" style="width:138.0pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:8.0pt">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
            <td width="432" style="width:324.0pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:8.0pt">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
        </tr>
        <tr>
            <td width="184" style="width:138.0pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:8.0pt">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
            <td width="432" style="width:324.0pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:8.0pt">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
        </tr>
        <tr>
            <td width="184" style="width:138.0pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><b><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span></b><span><u></u><u></u></span></p>
            </td>
            <td width="432" style="width:324.0pt;padding:.75pt .75pt .75pt .75pt">
                <p class="MsoNormal"><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span><span><u></u><u></u></span></p>
            </td>
        </tr>
        <tr>
            <td width="184" style="width:138.0pt;padding:.75pt .75pt .75pt .75pt">
                <p><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Firma del Medico </span></b><u></u><u></u></p>
            </td>
            <td width="432" style="width:324.0pt;padding:.75pt .75pt .75pt .75pt">
                <p><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Firma del Paciente &nbsp;&nbsp;</span><u></u><u></u></p>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
</div>
