{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Atención en Consultorio{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <h2>Atención en Consultorio</h2>
            <p>
                <em>Si usted es titular o encargado de la empresa, solicite la prestación a traves de este medio, completando los siguientes datos:</em>
            </p>
            <p>
                <em>* campos requeridos</em>
            </p>
            <hr/>
            {{ form_start(form, {'action': path('careClinic'), 'method':'POST', 'attr':{'class':'form-horizontal', 'role':'form', 'data-toggle':'validator'}}) }}
            <p>Datos de la Empresa:</p>
            {{ form_errors(form) }}
            <div class="form-group">
                <label for="atencionconsultorio_razonSocial" class="col-sm-3 control-label">*Razón Social:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.razonSocial, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label for="atencionconsultorio_apellidoNombreSolicitante" class="col-sm-3 control-label">*Apellido y Nombre del solicitante:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.apellidoNombreSolicitante, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label for="atencionconsultorio_email" class="col-sm-3 control-label">*E-mail:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label for="atencionconsultorio_fecha" class="col-sm-3 control-label">*Fecha:</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                        {{ form_widget(form.fecha, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

            <p>Datos del Empleado:</p>
            <div class="form-group">
                <label for="atencionconsultorio_apellidoNombre" class="col-sm-3 control-label">*Apellido y Nombre:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.apellidoNombre, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label for="atencionconsultorio_observaciones" class="col-sm-3 control-label">Observaciones:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.observaciones, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <p>Tildar lo que corresponda:</p>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.consultaClinica) }}Consulta clínica
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.traumatologia) }}Traumatología
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.cardiologia) }}Cardiología
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.controlAusentismo) }}Control de ausentismo
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.dermatologia) }}Dermatología
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.neurologia) }}Neurología
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.oftalmologia) }}Oftalmología
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.ginecologia) }}Ginecología
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="atencionconsultorio_otros" class="col-sm-3 control-label">Otros:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.otros, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default">Enviar</button>
                    <button type="reset" class="btn btn-default">Borrar</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock container %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bootstrap-validator/validator.min.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            $('#atencionconsultorio_fecha').datetimepicker({
                format: "DD/MM/YYYY"
            });
        });
    </script>
{% endblock %}