<p>Datos de la Empresa:</p>
<br/>
<p><strong>Empresa:</strong> {{ data.empresa }}</p>
<p><strong>Responde:</strong> {{ data.responde }}</p>
<p><strong>Cargo:</strong> {{ data.cargo }}</p>
<br/>
<p>Uso del servicio:</p>
<p><strong>Como conoció el servicio de Pal Medicina Laboral?:</strong> {{ data.comoConocioElServicio }}</p>
<p><strong>Por qué nos eligió?:</strong> {{ data.porQueNosEligio }}</p>
<p><strong>Cuánto tiempo lleva utilizando nuestros servicios de medicina laboral?:</strong> {{ data.cuantoTiempo }}</p>
<p><strong>Con qué frecuencia los utiliza?:</strong> {{ data.conQueFrecuencia }}</p>
<br/>
<p>Satisfacción general</p>
<br/>
<p><strong>Cuál es el grado de satisfacción general con los servicios ofrecidos?:</strong> {{ data.satisfaccionGeneral }}</p>
<br/>
<p>Recomendacíon</p>
<br/>
<p><strong>Ha recomendado nuestro servicio a otra empresa?:</strong> {{ data.haRecomendado }}</p>
<p><strong>Recomendaría nuestro servicio?:</strong> {{ data.recomendariaNuestroServicio }}</p>
<br/>
<p>Satisfacción por sectores</p>
<br/>
<p>*Cómo calificaría los siguientes servicios?</p>
<br/>
<p><strong>Atención telefónica:</strong> {{ data.atencionTelefonica }}</p>
<p><strong>Visitas a domicilio:</strong> {{ data.visitasDomicilio }}</p>
<p><strong>Exámenes médicos:</strong> {{ data.examenesMedicos }}</p>
<p><strong>A.R.T.:</strong> {{ data.art }}</p>
<p><strong>Facturación:</strong> {{ data.facturacion }}</p>
<br/>
<p>Página web - ACCESO CLIENTES -</p>
<br/>
<p><strong>Su empresa, se encuentra registrada en la sección Acceso Clientes?:</strong> {{ data.paginaWeb }}</p>
<p>En caso de contestar negativamente pase a Recomendación y sugerencias. Caso contrario, conteste las siguentes preguntas.</p>
<br/>
<p><strong>Con qué frecuencia utiliza el sitio web?:</strong> {{ data.conQueFrecuenciaUtilizaElSitio }}</p>
<p><strong>Como considera la visualización de la información?:</strong> {{ data.comoConsideraLaVisualizacion }}</p>
<p><strong>Como evalúa la facilidad de navegación?:</strong> {{ data.comoEvaluaLaFacilidad }}</p>
<p><strong>Como calificaría Acceso Clientes?:</strong> {{ data.comoCalificariaAccesoClientes }}</p>
<p><strong>Su opinión es muy importante para nosotros, que incorporaría al sitio web para mejorar o ampliar los servicios online?:</strong> {{ data.opinion }}</p>
<br/>
<p>Experiencia y sugerencias</p>
<br/>
<p><strong>Basándose en su propia experiencia con Pal Medicina Laboral, buscaría otro prestador / clinica?:</strong> {{ data.experienciaSugerencias }}</p>
<p><strong>Ha tenido algún problema a la hora de usar el servicio?:</strong> {{ data.haTenidoAlgunProblema }}</p>
<p>En caso de contestar negativamente pase a la ultima pregunta. Caso contrario, responda las siguientes.</p>
<p><strong>Se resolvieron esos problemas de forma satisfactoria?:</strong> {{ data.seResolvieronEsosProblemas }}</p>
<p><strong>Hay algún comentario o sugerencia que le gustaría decirnos sobre el servicio que no le hayamos preguntado en esta encuesta? Si es así, díganos de que se trata:</strong> {{ data.comentarios }}</p>
